:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-bg-color: #E5E5E5;
}

body{
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/* Logo */
.logo{
    font-family: Raleway;
    font-size: 26px;
    color: #000000;
    text-decoration: none;
}

.logo > span{
    color: #2196F3;
}

.logo:hover,
.logo>span:hover,
.logo:focus,
.logo>span:focus{
    color: var(--primary-text-color);
}

/* Навигация */
.site-nav .link{
    color: var(--title-text-color);
}

.site-nav a:focus,
.site-nav a:hover,
.site-nav a:active{
    color: var(--accent-color);
}

.contact-link a{
    color: var(--primary-text-color);
}
.contact-link a:hover,
.contact-link a:focus,
.contact-link a:active{
    color: var(--accent-color);
}

/* Герой */
.hero-title{
    font: Roboto;
    font-size: 44px;
    color: #FFFFFF;
    background-color: #2F303A;
}

h2,
h3{
    color: var(--title-text-color);
}

.section p{
    font-family: Roboto;
    color: var(--primary-text-color);
}

/* Button */
.button{
    color: var(--title-text-color);
    background-color: #F5F4FA;
}






.address-text{
    color: #FFFFFF;
    background-color: #000000;
}

.address-text > a{
    color: rgba(255, 255, 255, 0.6)
}

