:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-bg-color:  #FFFFFF;
    --primary-white-color: #FFFFFF;
}

body{
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/* Logo */
.logo{
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
color: #000000;
text-decoration: none;
}

.footer .logo{
    color: var(--primary-white-color);
}
.logo > span{
    color: #2196F3;
}

.logo:hover,
.logo>span:hover,
.logo:focus,
.logo>span:focus{
    color: var(--primary-text-color);
}

/* Навигация */
.site-nav .link{
    color: var(--title-text-color);
}

.site-nav .link.current{
    color: var(--accent-color);
}

.site-nav a:focus,
.site-nav a:hover{
    color: var(--accent-color);
}

.contact-link a{
    color: var(--primary-text-color);
}
.contact-link a:hover,
.contact-link a:focus,
.contact-link a:active{
    color: var(--accent-color);
}

/* Герой */
.hero-title{
font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--primary-white-color);
background-color: #2F303A;
}

h2,
h3{
    color: var(--title-text-color);
}

.section p,
.section h4{
    font-family: Roboto;
    color: var(--primary-text-color);
}

/* Button */
.button{
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-text-color);
background-color: #F5F4FA;
border: transparent;
}

.button.current,
.button:hover.
.button:focus{
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.button.primary{
font-weight: 900;
font-size: 1.9;
line-height: 30px;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--primary-white-color);
background-color:var(--accent-color);
}


.section.team{
    background-color: #F5F4FA;
}

.footer{
    background-color: #000000;
}
.address-text{
    color: var(--primary-white-color);
    }

.address-text > a{
    color: rgba(255, 255, 255, 0.6)
}

